head * {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

.row {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
}

.left {
    width: 330px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    content: 0px;
    border: 0px;
    float: left;
}

fieldset {
    border-color: lightgray;
    border-width: 4px;
    border-style: solid;
}

form {
    padding: 0px 5px 5px 5px;
}

.left-content {
    position: relative;
    left: 20px;
    width: 300px;
}

#appartmentselectform {
    background-color: #a9a9a9;
    border-width: 100px;
}

#cityselector {
    min-width: 90%;
    max-width: 90%;
    margin-bottom: 5px;
}

.main-content {
    position: relative;
    left: 40px;
    float: left;
}

.apartment {
    position: relative;
    width: 850px;
    height: 133.5px;
    background-color: burlywood;
    margin-bottom: 20px;
}

.img {
    position: relative;
    height: 133.5px;
}

.img:hover {
    transform: scale(1.3);
    transition: 0.5s;
    z-index: 9;
}

.text,
.text-placeholder {
    position: relative;
    bottom: 12.5px;
    widows: auto;
    height: 134px;
}

.txt {
    margin: 0px;
    margin-bottom: 5px;
}

.img,
.text {
    display: inline-block;
}

.left,
.main-content {
    display: inline-block;
}

#exp {
    position: relative;
    left: 20px;
    width: 300px;
}